<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1 style="color: maroon;">Enter the data of the new Post...</h1>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Enter Username...">
        <br><br>
        <textarea name="content" placeholder="Enter your text here..." rows="8"></textarea>
        <br>
        <button style="border: 3px solid maroon; border-radius: 4px;">Submit Post!</button>
    </form>
</body>
</html>